body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    text-align: center;
}

main {
    margin-top: 80px;
    margin-bottom: 100px;
}

h1, h2, h3, h4 {
    color: #2c3e50;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
}

.section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.section h2 {
    margin-top: 20px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}

.section h4 {
    color: rgb(182, 8, 81);
}

p {
    margin: 10px 0;
    padding-bottom: 20px;
}

.prayer {
    margin-left: 20px 0;
}

.song {
    margin-left: 20px;
    font-style: italic;
}

.lead {
    color: crimson;
    font-weight:600;
}

.footer {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.icon-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.icon-leader {
    background-color: red;
}

.icon-all {
    background-color: #2c3e50;
}

.legend {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
